
.form1-back img {
<<<<<<< HEAD
    width: 100%; 
    max-width: none;                 
    height: 40vh;
    object-fit: cover;
=======
    width: 100%; /* Makes the image responsive to the container */
    max-width: none;                 /* Ensures the image doesn't shrink */
    height: 40vh; /* Maintains the aspect ratio */
    object-fit: cover; /* Ensures it covers the container area without shrinking */
>>>>>>> 11a30d3e84a801f3a0d9db239b0dccc8500baaf4
  }
.main{
    display: flex;
    margin: 45px;
}
<<<<<<< HEAD

=======
.aside1{
    /* border: 2px solid; */
}

.aside2{
    /* border: 2px solid; */
}
>>>>>>> 11a30d3e84a801f3a0d9db239b0dccc8500baaf4
.calculate-but{
    padding: 10px;
    background: black;
    border: none;
    color: white;
}
.applyonline{
    padding: 10px;
    width: 100%;
    background: black;
    color: white;
    border: none;
    
}

.F-depart{
    font-size: 30px ;
     font-weight:bold;
}

@media screen and (max-width:450px)  {
    .F-depart{
        font-size: 22px;
    }
}


















@media (max-width:990px){
    .main{
        flex-direction: column;
        align-items: center;
    }
    .aside2{
        width: 100%;
        display: flex;
        justify-content: center;
    }
}