.small-cards-main {
    display: flex;
    justify-content: center;
}

.small-content {
    width: 247px;
    height: 230px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 10px 30px;
    text-align: start;
}

.small-content i {
    font-size: 24px;
    color: red;
    background-color: #fafafa;
    border-radius: 50%; 
    width: 44px;        
    height: 44px;        
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 6px;
}
